/*Start Common Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
  color: white;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
:root {
  --main-color: #09090b;
  --second-color: #292967;
  --third-color: #27272a;
  --font-p: #d4d4d8;
  --active-color: #43e5a0;
  --react-color: cyan;
  --trans: 0.4s;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.active {
  color: var(--active-color);
}
.hide {
  display: none;
}
.seven {
  width: fit-content;
  margin: 45px auto;
}
.seven h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: var(--active-color);
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}

.seven h2:after,
.seven h2:before {
  content: " ";
  display: block;
  border-bottom: 1px solid var(--react-color);
  border-top: 1px solid var(--react-color);
  height: 3px;
  background-color: var(--third-color);
  width: 50px;
}
even h2:after {
  right: 0;
}
.seven h2:before {
  left: 0;
}
@media (max-width: 490px) {
  .seven h2:after,
  .seven h2:before {
    width: 25px;
  }
  .seven h2 {
    font-size: 22px;
  }
}
.sec-pad {
  padding: 60px 0;
}
.return-to-top {
  background-color: var(--active-color);
  position: fixed;
  top: 90%;
  left: 90%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  animation: floating 1.5s linear infinite;
  z-index: 1;
}
@media (max-width: 520px) {
  .return-to-top {
    left: 85%;
  }
}
@media (max-width: 420px) {
  .return-to-top {
    left: 80%;
  }
}
.return-to-top:hover {
  opacity: 0.8;
}
.return-to-top i {
  font-size: 20px;
}

@keyframes floating {
  0% {
    top: 90%;
  }
  25% {
    top: 89%;
  }
  50% {
    top: 88%;
  }
  75% {
    top: 89%;
  }
  100% {
    top: 90%;
  }
}
/*End Common Rules */
/* Start Header */
header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 650px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: var(--second-color);
  padding: 10px 30px;
  border-radius: 35px;
}
header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 35px;
  width: 100%;
  text-align: center;
}
header > ul > li > a {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  font-size: 16px;
  transition: var(--trans);
  position: relative;
}
header > ul > li > a::after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  width: 0;
  bottom: -9px;
  left: 0;
  background-color: var(--active-color);
  transition: var(--trans);
}
header > ul > li > a:hover {
  color: var(--active-color);
}
header > ul > li > a:hover::after {
  width: 100%;
}
header > ul > li > a.active::after {
  width: 100%;
}
header > ul > li > a.btn {
  background-color: black;
  border-radius: 10px;
}
header > ul > li > i {
  color: black;
  cursor: pointer;
  transition: var(--trans);
}
header .tab-icon i {
  color: white;
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 530px) {
  header ul.bars {
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    position: absolute;
    top: 50px;
    background-color: #27272aee;
    margin-top: 10px;
  }
  header ul.bars li {
    width: 100%;
    padding: 10px 0;
  }
  header ul.bars li > i {
    font-size: 20px;
    background-color: var(--active-color);
    padding: 10px;
    border-radius: 50%;
  }
  header .tab-icon {
    display: block;
  }
}
/* End Header */
/* Start Landing */
.landing {
  padding-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/bg/smooth-elegant-transparent-blue-cloth-separated-blue-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  min-height: 90vh;
  border-radius: 15px;
  padding: 5px 25px;
}
@media (max-width: 750px) {
  .landing .container {
    flex-direction: column-reverse;
    justify-content: flex-end;
    text-align: center;
  }
  .landing .container button {
    margin: 15px auto;
  }
}
.landing .container .my-img {
  flex: 1;
  position: relative;
  overflow: hidden;
}
.landing .container .my-img img {
  width: 100%;
  border: 7px solid var(--second-color);
  border-radius: 50%;
}

.landing .container .land-title {
  flex: 1.7;
}
@media (max-width: 750px) {
  .landing .land-title,
  .my-img {
    flex: 1;
  }
}
.landing .container h1 {
  font-size: 45px;
}
.landing .container p {
  margin-top: -30px;
}
.my-social i {
  font-size: 20px;
  margin: 0px 10px;
  margin-top: 15px;
  color: var(--second-color);
  cursor: pointer;
  transition: var(--trans);
}
.my-social i {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.my-social i:nth-child(1) {
  padding: 10px 12px;
}
.my-social i:hover {
  color: white;
  background-color: var(--second-color);
}
.landing button {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: var(--second-color);
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  overflow: hidden;
  margin-top: 20px;
}
.landing button:hover {
  animation: sh0 0.5s ease-in-out both;
}
@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.landing button:hover a {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
.landing button::before,
.landing button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}
button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.landing button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}
.landing button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}
/* End Landing */
/* Start about */

.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
.about .container .desc {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.about .container .desc p {
  color: var(--font-p);
  opacity: 0.5;
}
.about .container .desc h3 {
  font-size: 30px;
  margin-bottom: 30px;
}
.about .container .desc .myskills .skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  gap: 20px;
  margin: 25px 0;
}
.about .container .desc .myskills .skill {
  text-align: center;
  border: 1px solid var(--active-color);
  padding: 10px;
  transition: var(--trans);
  max-width: 100%;
}
.about .container .desc .myskills .skill:hover {
  background-color: var(--react-color);
}
.about .container .desc .myskills .skill:hover i,
.about .container .desc .myskills .skill:hover span.skill-name {
  color: black;
}
.about .container .desc .myskills .skill i {
  color: var(--react-color);
  font-size: 65px;
}
.about .container .desc .myskills .skill span.skill-name {
  color: var(--active-color);
  font-size: 20px;
  margin: 15px 0;
}
.about .img-holder {
  display: grid;
  place-content: center;
}
.about .img-holder img {
  max-width: 100%;
}
@media (max-width: 420px) {
  .about .img-holder {
    display: none;
  }
  .about .container .desc .myskills .skill {
    width: 300px;
  }
  .about .container .desc h3 {
    font-size: 20px;
  }
  .about .container .desc p {
    font-size: 14px;
    width: 300px;
  }
}
/* End about */

/* Start Portfolio */
section.portfolio {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url(../assets/bg/rm314-bb-18.jpg);
  background-size: cover;
  background-attachment: fixed;
}
section.portfolio .projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, auto));
  gap: 25px;
}
section.portfolio .projects .pro {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.portfolio .projects .pro .project-img {
  position: relative;
}
section.portfolio .projects .pro .project-img::after {
  position: absolute;
  background-color: var(--react-color);
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  opacity: 0.2;
  border-radius: 25px 25px 0 0;
  transition: var(--trans);
}
section.portfolio .projects .pro .project-img:hover::after {
  width: 100%;
  height: 99%;
}
section.portfolio .projects .pro .project-img img {
  max-width: 100%;
  border-radius: 25px 25px 0 0;
}
section.portfolio .projects .pro a {
  display: block;
  width: fit-content;
  margin: 25px auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
}
section.portfolio .projects .pro a:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}
section.portfolio .projects .pro a::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}
section.portfolio .projects .pro a:hover::before {
  width: 250%;
}
section.portfolio .projects .pro p {
  margin: 25px 15px;
  color: #fff;
  opacity: 0.5;
}
@media (max-width: 420px) {
  section.portfolio .projects .pro {
    width: 290px;
  }
}
/* End Portfolio */

/* Start Contact */

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 700px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(
        145deg,
        transparent 35%,
        var(--active-color),
        var(--react-color)
      )
      border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}

/* End Contact */

/* Start footer */
footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../assets/bg/background1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, auto));
  gap: 50px;
}
footer .container .info {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 990px) {
  footer .container {
    gap: 25px;
  }
  footer .container .info {
    text-align: center;
  }
}
footer .container .info h2 {
  font-size: 40px;
  margin: 10px 0;
}
footer .container .info p {
  font-size: 15px;
  color: var(--font-p);
  width: 600px;
}
@media (max-width: 990px) {
  footer .container .info p {
    text-align: center;
    width: 100%;
  }
}
footer .container .info .my-social {
  display: flex;
  gap: 35px;
  width: 100%;
  margin: 15px 0;
}
@media (max-width: 990px) {
  footer .container .info .my-social {
    justify-content: center;
  }
}
footer .container .info .my-social i {
  font-size: 25px;
  margin: 0;
}
footer .container .cards {
  background-color: #100920;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border-radius: 45px 0px 45px 0px;
  border: 1px solid var(--react-color);
  animation: border 2s ease infinite;
  margin: 0 auto;
}

@media (max-width: 360px) {
  footer .container .info {
    width: 300px;
  }
  footer .container .info h2 {
    font-size: 35px;
  }
  footer .container .info p {
    font-size: 12px;
  }
  footer .container .info .my-social i {
    padding: 10px;
    font-size: 20px;
  }
  footer .container .cards {
    width: 250px;
    height: 250px;
    margin: 0 25px;
  }
}

@keyframes border {
  0% {
    border: 1px solid var(--react-color);
  }
  25% {
    border: 1px solid var(--active-color);
  }
  50% {
    border: 1px solid var(--react-color);
  }
  75% {
    border: 1px solid var(--active-color);
  }
  100% {
    border: 1px solid var(--react-color);
  }
}
footer .container .cards i {
  color: var(--active-color);
  margin: 10px 0;
  transition: var(--trans);
}
footer .container .cards:hover i {
  transform: translateY(-5px);
}
footer .container .cards a {
  color: white;
}
footer > p {
  display: block;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  margin-top: 55px;
}
footer > p::before {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 900px;
  height: 1px;
  background-color: var(--third-color);
}
/* End footer */
